# 环境变量示例
EMAIL_USERNAME = "your_email@example.com"
EMAIL_PASSWORD = "your_email_password"
TO_EMAILS = "your_email@example.com,your_email2@example.com"
SMTP_HOST = "smtp.qq.com" # 或 smtp.example.com
SMTP_PORT = 587 # 或 465

# 麦蕊智数
MAIRUI_TOEKN="MAIRUI_TOKEN"
