# 环境文件
.env

# 虚拟环境
.mktenv

# 日志文件
*.log

# 临时文件
*.tmp

# 缓存文件
*.cache
__pycache__

# 备份文件
*.bak

# 环境
.env

# 测试脚本
test_scripts.py

# 数据库文件
db/*.db
db/*.db-shm
db/*.db-wal

# 脚本
_provide_akshare_calendar.py